<!DOCTYPE html>
<html>
	<head>
		<title>Deny Request</title>
	</head>
	<body>
		<pre style="word-wrap: break-word; white-space: pre-wrap;">
          .-''''''-.
        .' _      _ '.
       /   O      O   \
      :                :
      |                |
      :       __       :
       \  .-"`  `"-.  /
        '.          .'
          '-......-'
     YOU SHOULDN'T BE HERE
		</pre>
		<hr/>
		<button onclick="window.location='/'">Home</button>
	</body>
</html>